#game {
    display: table;
}

#game-statistic {
    display: table-cell;
    padding: 20px;
}

#game-field {
    padding: 50px;
    background-color: black;
    width: 400px;
    display: table-cell;
}

.game-row {
    display: table;
}

.game-cell {
    display: table-cell;
    border: 0px solid black;
    min-width: 40px;
    height: 40px;
    text-align: center;
    /*padding-top: 10px;*/
}

.game-cell-wall {
    background-color: white;
    background-image: url("../img/brick-wall.svg");
}

.game-cell-floor {
    background-color: white;
}

.game-cell-finish {
    background-color: rgb(150, 150, 250);
    background-image: url("../img/dungeon-gate.svg");
}

.game-cell-teleport {
    background-color: yellow;
    background-image: url("../img/teleport.svg");
}

.game-cell-trap {
    background-color: rgb(250, 150, 150);
    background-image: url("../img/wolf-trap.svg");
}

.game-empty-field:hover {
    cursor: pointer;
    background-color: #909090;
}

.game-settings {
    margin-bottom: 5px;
}

.game-cell-point:hover {
    cursor: pointer;
}

.game-object {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

.game-object-enemy {
    background-color: red;
    background-image: url("../img/orc-head.svg");
}

.game-object-player {
    background-color: green;
    background-image: url("../img/dwarf-helmet.svg");
}
