html {
    background-color: black;
}

#game {

}

#game-statistic {
    background-color: white;
    border: 5px solid black;
    margin: 0px;
    font-size: 20px;
    width: 400px;
}

#game-field {
    padding: 5px;
    background-color: black;
    width: 400px;
}

.game-row {
    display: table;
}

.game-cell {
    display: table-cell;
    border: 0px solid black;
    min-width: 40px;
    height: 40px;
    text-align: center;
    /*padding-top: 10px;*/
}

.game-cell-wall {
    background-color: white;
    background-image: url("../img/brick-wall.svg");
}

.game-cell-floor {
    background-color: white;
}

.game-cell-finish {
    background-color: rgb(150, 150, 250);
    background-image: url("../img/dungeon-gate.svg");
}

.game-cell-teleport {
    background-color: yellow;
    background-image: url("../img/teleport.svg");
}

.game-cell-heal-fountain {
    background-color: cyan;
    background-image: url("../img/heal-fountain.svg");
}

.game-cell-trap {
    background-color: rgb(250, 150, 150);
    background-image: url("../img/wolf-trap.svg");
}

.game-empty-field:hover {
    cursor: pointer;
    background-color: #909090;
}

.game-settings {
    margin-bottom: 5px;
}

.game-cell-point:hover {
    cursor: pointer;
}

.game-object {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-left: 5px;
}

.game-object-enemy {
    background-color: red;
    background-image: url("../img/orc-head.svg");
}

.seeker-enemy {
    background-image: url("../img/werewolf.svg");
}

.game-object-player {
    background-color: green;
    background-image: url("../img/dwarf-helmet.svg");
}

#game-logs {
    width:400px;
    height:350px;
    background-color:white;
    border: 5px solid black;
    border-top: 0px;
    overflow-y: scroll;
    max-width:400px;
    max-height:95px;
}

#game-logs > p {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

.title {
    color: #cccccc;
    width: 400px;
    text-align: center;
    font-size: 40px;
}